@model CampDios.Modelos.Usuarios

@{
    ViewBag.Title = "login";
}

    <div style="width:100%;">
        <div class="panel panel-primary" style="width: 400px; margin: 0 auto;">
            <div class="panel panel-heading">
                Authentication Form
            </div>
            <div class=pane panel-panel-body>
                <form id="frmlogic" method="post" action="/Login/dologin">
                    User Name
                    <input type="text" name="txtUserName" id="txtUserName" class="form-control" />
                    Password
                    <input type="password" name="txtPassword" id="txtPassword" class="form-control" />
                    <input type="submit" name=btnSubmit class="btn btn-lg btn-primary" value="Login" />
                </form>
            </div>
        </div>
    </div>
