@model CampDios.Modelos.Modulos

@{
    ViewBag.Title = "Modulo-Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Módulos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Modulos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Modulos)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Modulos_Id }, new { @class = "btn btn-success" }) &nbsp;&nbsp;
    <a href="javascript:history.back();" class="btn btn-default">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Volver al listado
    </a>
</p>